# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

collect_files.py
collect.md

# Ignore build artifacts
/build/
/dist/
/out/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE files
/.vscode/
/.idea/
/*.suo
/*.user
/*.userosscache
/*.sln.docstates

# Ignore node_modules
/node_modules/

# Ignore log files
*.log
